@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Maiden+Orange|Montserrat');

*{
 -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    margin: 0;
}

body, html {
  background-color: #50daf3;
  height: 100%;
  width: 100%;}

/* GENERAL RULES */
main{
 font-family: 'Montserrat', Helvetica, Arial, sans-serif;
 font-size: 16px;
 font-size: 1em;
 color: #333333;
}

a:link {
  color:#197c88; 
  text-decoration:none;}
a:visited {
  color: #024D5B; 
  text-decoration:none;}
a:hover {
  font-weight: bold;
  text-decoration:none;}
a:active {
  font-weight: bold;
  text-decoration:none;}

ul,ol{
 list-style: none;
 margin: 0;
 padding: 0;
}

img{
 max-width: 100%;
 padding: 5px;
}

h1{
 font-family: 'Maiden Orange', cursive;
 font-size: 5em;
 color: #024D5B;
}

h2{
 font-family:'Maiden Orange', cursive;
 font-size: 2.5em; 
 color: #024D5B;
}

h3,h4,h5,h6{
 font-family:'Maiden Orange', cursive;
 font-size: 1.5em;
 color: #333333;
}

header {
  background-color: #024D5B;}

footer {
  background-color: #B8E065;
  font: normal 80% 'Montserrat', Helvetica, Arial, sans-serif;
  color: #3A9753;}

nav {
 background-color: #FFFACD;
 font-family: 'Maiden Orange', cursive;
 font-size: 2em;
 text-align: left;
 padding: 10px;
 color: #024D5B;} /*cream*/

/* flexbox css code below here */

body{
    display: flex;
    flex-flow: row;
}


.left-image 
{
    width: 25vw;
}

.content-wrapper {
    width:75vw;
}